Phase 1: Busines Understanding
    a. Data Analytics: understand feature importance to make managerial decisions
    b. Machine Learning: Deploy the prediction in an API, or app, or website

Phase 2: Data Understanding (EDA)
    univariate properties -> idenitfy data cleaning opportunities
    bivariate analyses -> identify interesting relationships that can be useful in a presentation

Phase 3: Data Preparation
    basic wrangling
    missing values (fillna(), dropna(), impute (IterativeImputer))
    outliers
    skewness (only applies to linear models like MLR/OLS)
    bin or recode low count categorical values
    Feature engineering based on text or images

Phase 4: Modeling
    Set up y and X datasets
    Dummy codes
    Normalize values
    rain the model (.fit())

Phase 5: Evaluation
    Analyze the overall model
        Generate fit metrics
        Regression: R2, R2a, MAE, RMSE
        Classification: Accuracy, Precision, Recall, F1
        Generate confusion matrix, but only for classification models
    Analyze Features
        Visualize the tree (only for decision trees)
        Generate coefficients, t-values, p-values (only for regression models)
        Generate feature imporatnce scores  
    Choose the algorithm and set of features

Phase 6: Deployment

In [1]:
import pandas as pd

df = pd.read_csv('airline_satisfaction.csv')
df.sample(n=10000, random_state=3)
df.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0

In [6]:
df.dropna(inplace=True)
df.isna().sum() / df.shape[0]

satisfaction                         0.0
Gender                               0.0
Customer Type                        0.0
Age                                  0.0
Type of Travel                       0.0
Class                                0.0
Flight Distance                      0.0
Seat comfort                         0.0
Departure/Arrival time convenient    0.0
Food and drink                       0.0
Gate location                        0.0
Inflight wifi service                0.0
Inflight entertainment               0.0
Online support                       0.0
Ease of Online booking               0.0
On-board service                     0.0
Leg room service                     0.0
Baggage handling                     0.0
Checkin service                      0.0
Cleanliness                          0.0
Online boarding                      0.0
Departure Delay in Minutes           0.0
Arrival Delay in Minutes             0.0
dtype: float64

In [7]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', None)

# Set X and y
y = df.satisfaction
X = df.drop(columns=['satisfaction'])
X = pd.get_dummies(X, drop_first=True) # dummy code AFTER X and y

# normalize the data
X = pd.DataFrame(MinMaxScaler().fit_transform(X), columns=X.columns) # that last part puts the column names back in

# split: train on one half and test on the other
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # putting 30% in testing
clf = DecisionTreeClassifier(random_state=3).fit(X_train, y_train) #clf stands for classification, as in classification model
print(f'Accuracy: {clf.score(X_test, y_test)}')

Accuracy: 0.9367261307179447