In [1]:
import pandas as pd

df = pd.read_csv('lc_small.csv', 
                 usecols=['loan_status', 'purpose', 'home_ownership', 'annual_inc', 'verification_status', 'dti'])

print(df.shape)
df.head()

(10476, 6)

,loan_status,purpose,home_ownership,annual_inc,verification_status,dti
0,Fully Paid,debt_consolidation,RENT,62500.0,Not Verified,2.31
1,Current,debt_consolidation,MORTGAGE,68000.0,Not Verified,16.03
2,Current,credit_card,MORTGAGE,150000.0,Not Verified,17.63
3,Current,credit_card,MORTGAGE,164000.0,Source Verified,19.51
4,Current,debt_consolidation,MORTGAGE,122000.0,Not Verified,50.55

In [3]:
# Phase 2: Data Understanding (EDA)
df.purpose.value_counts()

# a type of categorical, statistical data that groups variables into ordered categories

purpose
debt_consolidation    5713
credit_card           2403
home_improvement       767
other                  710
major_purchase         253
medical                126
small_business         117
car                    116
vacation                92
house                   86
moving                  82
renewable_energy        11
Name: count, dtype: int64

In [5]:
# 3 data cleaning
df.isna().sum()
df.dropna(inplace=True)
df.isna().sum()

loan_status            0
purpose                0
home_ownership         0
annual_inc             0
verification_status    0
dti                    0
dtype: int64

In [7]:
# 4 modeling
for col in df:
    if not pd.api.types.is_numeric_dtype(df[col]) and col!= 'loan_status':
        df = pd.get_dummies(df, columns = [col], drop_first=True)
y = df.loan_status
X = df.drop_columns=['loan_status']
# X = pd.get_dummies(df, drop_first=True)
X.head()

/var/folders/n0/fpj669xs7mdf7dy6vwdnptk40000gn/T/ipykernel_15976/1749722587.py:6: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  X = df.drop_columns=['loan_status']

AttributeError: 'list' object has no attribute 'head'