### READ ME

Use the code blocks below to answer each quiz question. Only print the output required for each question. Do not edit the comments at the top of each code cell. Otherwise, the auto-grader may misinterpret your results. See Question 0 as an an example of how to complete a task (leave it in your notebook; don't delete it):

In [1]:
# Question 0: Create a DataFrame with three rows and four columns. Name the 
# columns 'Col1', 'Col2', 'Col3', 'Col4'. Create an index for the DataFrame
# and give the rows the index values of 'Row1', 'Row2', 'Row3'. Place a value
# in each column equal to the {ColumnName/RowName}. e.g. Col1/Row1. Print
# the entire DataFrame.

import pandas as pd

df_test = pd.DataFrame(columns=['Col1', 'Col2', 'Col3', 'Col4'], index=['Row1', 'Row2', 'Row3'])

for col in df_test:
  for i, value in df_test[col].items():
    df_test.at[i, col] = f'{i}/{col}'

df_test

           Col1       Col2       Col3       Col4
Row1  Row1/Col1  Row1/Col2  Row1/Col3  Row1/Col4
Row2  Row2/Col1  Row2/Col2  Row2/Col3  Row2/Col4
Row3  Row3/Col1  Row3/Col2  Row3/Col3  Row3/Col4

In [72]:
# Question 1: 

# Read each dataset into its own DataFrame; e.g. df_projects, df_resources, df_schools, etc.
# NOTE: donors.db contains a single table called "donors"
# print the columns found in each DataFrame in any order you want

import pandas as pd
import sqlite3
import json

# Reading csv --> DataFrame
df_projects = pd.read_csv('projects.csv')

df_resources = pd.read_csv('resources.csv')

df_schools = pd.read_csv('schools.csv')

df_teachers = pd.read_csv('teachers.csv')

# Reading json --> DataFrame
df_donations = pd.DataFrame(pd.read_json('donations.json', orient='records'))

# Reading sql --> DataFrame
conn = sqlite3.connect('donors.db')
df_donors = pd.read_sql_query("SELECT * FROM donors", conn)

#Print Columns
print(f"df_projects columns: \n {df_projects.columns} \n \n \
df_resources columns: \n {df_resources.columns} \n \n \
df_schools columns: \n {df_schools.columns} \n \n \
df_teachers columns: \n {df_teachers.columns} \n \n \
df_donations columns: \n {df_donations.columns} \n \n \
df_donors columns: \n {df_donors.columns}")

df_projects columns:
 Index(['Project ID', 'School ID', 'Teacher ID',
       'Teacher Project Posted Sequence', 'Project Type', 'Project Title',
       'Project Essay', 'Project Short Description', 'Project Need Statement',
       'Project Subject Category Tree', 'Project Subject Subcategory Tree',
       'Project Grade Level Category', 'Project Resource Category',
       'Project Cost', 'Year', 'Month', 'Weekday', 'Project Current Status',
       'Days to Funded', 'Days Live'],
      dtype='object')

 df_resources columns:
 Index(['Project ID', 'Resource Item Name', 'Resource Quantity',
       'Resource Unit Price', 'Resource Vendor Name'],
      dtype='object')

 df_schools columns:
 Index(['School ID', 'School Name', 'School Metro Type',
       'School Percentage Free Lunch', 'School State', 'School Zip',
       'School City', 'School County', 'School District'],
      dtype='object')

 df_teachers columns:
 Index(['Teacher ID', 'Teacher Prefix', 'Teacher First Project Posted Date'], dtype='object')

 df_donations columns:
 Index(['Project ID', 'Donation ID', 'Donor ID',
       'Donation Included Optional Donation', 'Donation Amount',
       'Donor Cart Sequence', 'Donation Received Date'],
      dtype='object')

 df_donors columns:
 Index(['Donor ID', 'Donor City', 'Donor State', 'Donor Is Teacher'], dtype='object')

In [74]:
# Question 2: 

# Merge the six DataFrames into a single DataFrame called df
# Infer the primary key/foreign key relationships based on connecting matching column ID names
# Print the complete column list of df
# Print the first five records

df = pd.merge(df_projects, df_resources, on='Project ID')
df = pd.merge(df, df_schools, on='School ID')
df = pd.merge(df, df_teachers, on='Teacher ID')
df = pd.merge(df, df_donations, on='Project ID')
df = pd.merge(df, df_donors, on='Donor ID')

pd.set_option('display.max_columns', 1000)
df.head()

,Project ID,School ID,Teacher ID,Teacher Project Posted Sequence,Project Type,Project Title,Project Essay,Project Short Description,Project Need Statement,Project Subject Category Tree,Project Subject Subcategory Tree,Project Grade Level Category,Project Resource Category,Project Cost,Year,Month,Weekday,Project Current Status,Days to Funded,Days Live,Resource Item Name,Resource Quantity,Resource Unit Price,Resource Vendor Name,School Name,School Metro Type,School Percentage Free Lunch,School State,School Zip,School City,School County,School District,Teacher Prefix,Teacher First Project Posted Date,Donation ID,Donor ID,Donation Included Optional Donation,Donation Amount,Donor Cart Sequence,Donation Received Date,Donor City,Donor State,Donor Is Teacher
0,27a55308efb34a59e180b7558632b746,b4fe590bff79ebc2f15ff8f36dffe8d4,20ff00bfa421ba5e716205aacc6ec9d2,3,Teacher-Led,Chromebooks,Every morning our student body begins their da...,Every morning our student body begins their da...,My students need 2 Chrome books to expand thei...,"Literacy & Language, History & Civics","Literature & Writing, Social Sciences",Grades 3-5,Technology,629.96,2014,1,Thursday,Fully Funded,6.0,30,"samsung xe303c12-a01us 11.6"" chromebook",2.0,249.00,Quill.com,George Washington Academy,urban,29.0,Utah,84790,Saint George,Washington,Utah Department Of Education,Ms.,2013-10-06,66708f3237761b938d54f2e834e0ae20,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,2,2014-02-05 08:27:05,Washington,Utah,No
1,1e86fee638427869f8028a0d2170c7ea,59834fdea8a3c41ef9c9db54956ce1e4,3e46d286d86410af843b0e235cfceef6,6,Teacher-Led,"Weather, Weather Everywhere!","""What's the weather?"" It's one of the most co...","""What's the weather?"" It's one of the most com...",My students need weather tools and a tablet to...,Math & Science,"Environmental Science, Mathematics",Grades 3-5,Supplies,780.24,2013,10,Tuesday,Fully Funded,105.0,107,thermometer in/outdoor dual scale/ea,1.0,2.69,Frey Scientific,Horizon Elementary School,suburban,37.0,Utah,84780,Washington,Washington,Washington Co School District,Ms.,2010-11-07,f700b085bbda2d373cfe987371fa35b3,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,1,2014-01-03 10:46:53,Washington,Utah,No
2,1e86fee638427869f8028a0d2170c7ea,59834fdea8a3c41ef9c9db54956ce1e4,3e46d286d86410af843b0e235cfceef6,6,Teacher-Led,"Weather, Weather Everywhere!","""What's the weather?"" It's one of the most co...","""What's the weather?"" It's one of the most com...",My students need weather tools and a tablet to...,Math & Science,"Environmental Science, Mathematics",Grades 3-5,Supplies,780.24,2013,10,Tuesday,Fully Funded,105.0,107,"samsung galaxy tab 2 (7-inch, wi-fi)",1.0,169.00,Amazon Business,Horizon Elementary School,suburban,37.0,Utah,84780,Washington,Washington,Washington Co School District,Ms.,2010-11-07,f700b085bbda2d373cfe987371fa35b3,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,1,2014-01-03 10:46:53,Washington,Utah,No
3,1e86fee638427869f8028a0d2170c7ea,59834fdea8a3c41ef9c9db54956ce1e4,3e46d286d86410af843b0e235cfceef6,6,Teacher-Led,"Weather, Weather Everywhere!","""What's the weather?"" It's one of the most co...","""What's the weather?"" It's one of the most com...",My students need weather tools and a tablet to...,Math & Science,"Environmental Science, Mathematics",Grades 3-5,Supplies,780.24,2013,10,Tuesday,Fully Funded,105.0,107,anemometer,1.0,35.06,Frey Scientific,Horizon Elementary School,suburban,37.0,Utah,84780,Washington,Washington,Washington Co School District,Ms.,2010-11-07,f700b085bbda2d373cfe987371fa35b3,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,1,2014-01-03 10:46:53,Washington,Utah,No
4,1e86fee638427869f8028a0d2170c7ea,59834fdea8a3c41ef9c9db54956ce1e4,3e46d286d86410af843b0e235cfceef6,6,Teacher-Led,"Weather, Weather Everywhere!","""What's the weather?"" It's one of the most co...","""What's the weather?"" It's one of the most com...",My students need weather tools and a tablet to...,Math & Science,"Environmental Science, Mathematics",Grades 3-5,Supplies,780.24,2013,10,Tuesday,Fully Funded,105.0,107,kit dsm-3 weather instruments,1.0,369.00,Frey Scientific,Horizon Elementary School,suburban,37.0,Utah,84780,Washington,Washington,Washington Co School District,Ms.,2010-11-07,f700b085bbda2d373cfe987371fa35b3,f90db263ed1bfc8f868c21f34183e96d,Yes,10.0,1,2014-01-03 10:46:53,Washington,Utah,No

In [75]:
# Question 3:

# Print the number of rows in this new DataFrame df
print(df.shape[0])

308831

In [77]:
# Question 4:

# Filter out all records that are not in Utah County. In other words, only Utah County records should remain in the DataFrame df
# Print the number of rows in this reduced DataFrame

df = df[df['School County'] == 'Utah']
df.shape[0]

44873

In [78]:
# Question 5:

# Print the average donation value from this reduced dataset

print('$', df['Donation Amount'].mean())

$ 70.6564961112473

In [79]:
# Question 6:

# Print the median donation value from this reduced dataset
print('$', df['Donation Amount'].median())

$ 25.0

In [80]:
# Question 7:

# Print the donation value skewness from this reduced dataset

print('$', df['Donation Amount'].skew())

$ 9.208363644142237

In [81]:
# Question 8:

# Store df in a new sqlite db called donors_choose.db using the table name donors_choose

conn = sqlite3.connect('donors_choose.db')
cursor = conn.cursor()
df.to_sql('donors_choose', conn, index=False, if_exists='replace')

44873